@import url("fonts.css");
#header
{
position:relative;
}
#top-menu
{
width:100%;
position:relative;
background-color:#222222;
}
.header-padding-top
{
padding-right:10%;
padding-top:10%;
}
.header-logo-head
{
  padding-top:6%;
  font-family: 'Open Sans';
  font-size:600;
  font-size:24px;
}
.glob-banner{
margin-top:0.2%;}
#glo-text-slider
{
width:100%;
display:block;
height:50px;
background-color:#00FF88;
padding-top:10px;
padding-bottom:20px;
margin-bottom:5px;
}
#glo-home-container
{
width:100%;
}
.click-content
{
width:95%;
margin:0 auto;
border:1px solid #CCCCCC;
}
.click-content h4
{
font-family: "Lobster";
font-weight:400;
font-style:normal;
color:#3399FF;
font-size:26px;
padding-top:2%;
padding-left:2%;
}
.click-content p
{
padding:2%;
text-align:justify;
text-indent:10%;
  font-family: 'Open Sans';
  font-size:14px;
  line-height:25px;
}
.click-content h5
{
color:#000000;
padding-top:2%;
padding-left:2%;
}
.recnet-project
{
background:#E7EAF5;
border:1px solid #CCCCCC;
max-height:220px
}
.recnet-project h4
{
text-align:center;
}
.recnet-project p
{
text-align:justify;
padding:2%;
}
#footer
{
width:100%;
margin:0 auto;
background-color:#222222;
background-image:url(/images/mid-stripe2.png);
background-position:top;
background-repeat:repeat-x;

}
.click-content-events
{
margin:0 auto;
background:#E7EAF5;
border:1px solid #CCCCCC;
max-height:220px;
overflow:hidden;
}
.click-content-events-head
{
width:100%;
}
.click-content-events-head h4
{
text-align:center;
}
.header_text
{
height:40px;
background-image:url(/images/news-and-events_05.gif);
}
.header_text h4
{
    color: #b4009e;
    font-family: "Cuprum";
    font-size: 21px;
    margin: 0;
    padding-top: 3%;
    text-transform: uppercase;
    font-weight: bolder;
	}
.click-content-scroll
{
margin:0;
padding:0;
}
.click-content-scroll li
{
margin-left:5%;
list-style:none;
line-height:25px;
font-family:Tahoma;
font-size:13px;
color:#000000
}
.click-content-scroll-hr
{
 border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 margin:0;
}
#click-content-scroll
{
margin:0;
padding:0;
}
#click-content-scroll li
{
margin-left:9%;
list-style:circle;
line-height:24px;
padding:1%;
font-family:Tahoma;
font-size:14px;
color:#000000
}

/* join us form */
.query-form
{
width:90%;
margin:0 auto;
}
/*  queries form */
.quires-form
{
background:#E7EAF5;
border:1px solid #CCCCCC;
}
.quires-form p
{
font-size:13px;
padding:2%;
color:#0080C0;
}
.quires-form-nav
{
}
.quires-form-nav li
{
list-style-image:url(../images/bullet_tick.png);
line-height:25px;
font-size:12px;
}
/*contac form */
/*  queries form */
.contact-form
{
}
.contact-form h4
{
color:#000000;
font-size:14px;
padding-top:1%;
padding-left:2%;
}
.contact-form h5
{
margin:0;
padding-left:2%;
color:#000000;
font-size:15px;
}
.contact-form h6
{
line-height:25px;
padding-left:2%;
margin:0;
color:#000000;
font-size:15px;
}
.contact-form-radius
{
border-radius:2%;
background-image:url(../images/1110055.gif);
background-repeat:no-repeat;
background-position:center right;
}
.spacer-div
{
padding:1%;
}
#em-map
{
width:100%;
min-height:200px;
}
.sitemap
{
width:100%;
}
.sitemap-nav
{
margin:0;
padding:0;
}
.sitemap-nav li
{
background-image:url(../images/bullet_icon.png);
background-repeat:no-repeat;
background-position:left center;
padding:1% 3%;
list-style:none;
}
.sitemap-nav li a
{
font-family:"Segoe UI";
font-size:15px;
text-decoration:underline;
}
/* ABOUT US PAGE */
.about-glo
{}
.about-glo p
{
text-indent:5%;
text-align:justify;
}
.about-glo h6
{
}
#about-glo-nav{ margin-left:5%;}
#about-glo-nav li
{
list-style-image:url(../images/icon_required.gif);
line-height:25px;
text-indent:1%;
}
#about-glo-nav-p2{margin-left:5%;}
#about-glo-nav-p2 li
{
list-style-image:url(../images/icon_required-1.gif);
line-height:25px;
text-indent:1%;
}
.achievements-pg
{
width:100%;
}
.achievements-pg p
{
text-align:justify;
}
#aheve-glo-nav{margin-left:5%;}
#aheve-glo-nav li
{
list-style-image:url(../images/achievements-g.png);
line-height:25px;
text-indent:1%;
}
#aheve-glo-nav-gr{margin-left:5%;}
#aheve-glo-nav-gr li
{
list-style-image:url(../images/achievements.png);
line-height:25px;
text-indent:1%;
}
/*research page*/
.research-pg{width:100%;}
.research-pg p{
text-align:justify;
}
#research-glo-nav{margin-left:5%;}
#research-glo-nav li
{
list-style-image:url(../images/research.png);
line-height:25px;
text-indent:1%;
}
#research-glo-nav-1{margin-left:5%;}
#research-glo-nav-1 li
{
list-style-image:url(../images/research-1.png);
line-height:25px;
text-indent:1%;
}
/* working-platform page */
.working-platform
{
width:100%;
border-bottom:1px solid #999999;
display:inline-table;
float:left;
padding-top:2%;
}
.working-platform p{
text-align:center;
text-decoration:none;
}
.visible-hidden
{
visibility:hidden;
}
#working-plaform-nav{margin-left:5%;}
#working-plaform-nav li{
list-style-image:url(../images/domain.png);
line-height:25px;
}
.footer-control p
{
padding-top:4.5%;
color:#0066CC;
}

.imagescroll{
  border-top:1px solid black;
  border-bottom:1px solid black;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:20px;
}

.contact_details a{
	font-weight:bold;
  	text-align:right;
  	color:black;
}

.contact_details a:hover,.contact_details a:focus{
  text-decoration:none;
  color:red;
}
/* Popup */
.title-custom
{
min-width:300px;
position:relative:
padding-bottom:1%;
}
.title-custom p
{
padding-left:1%;
padding-right:1%;
color:#009999;
margin:0;
text-align:left;
font-size:13.5px;
line-height:20px;
}
.navbar-header-in ul li a
{
  font-size:17px;
  color:#FFFFFF !important;
}
.navbar-header-in ul li>.active
{
  background-color:white !important;
  color:red !important;
}
.scroll-image
{
border:1px solid #CCCCCC;
}
.animate-text-animate-text-slide{width: 100%; text-align:center;font-size:10px;line-height:30px;color:#ccc;}
.animate-text-slide .title{font-weight:400;font-size:25px;color:black; padding:0; margin:0; text-align:center; font-family:"Segoe UI";}
#map { 
    width:100%; 
    height:400px; 
} 
.gomapMarker { 
    display: block; 
	min-width:300px;
    height: auto; 
} 
.html-popup {
    display: none;
}
.html-popup-style
{
width:100%;
}
#nav-recent-project
{
padding-left:5%;
margin:0;
}
#nav-recent-project li
{
list-style:none;
font-family: 'Open Sans';
font-size:14px;
line-height:25px;
}
.animate-text-slide {
    height: 35px;
}